ul {
  list-style: none;
  padding-left: 0;
}
.info {
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}
.start {
  display: flex;
}
.start li {
  padding: 0 2%;
}
.end {
  display: flex;
}
.end li {
  padding: 0 2%;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links ul {
  display: flex;
}
.links li {
  padding: 0 2%;
}
.banner {
  height: 400px;
  width: 100%;
}
.banner ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
}
.banner ul li {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 25%;
  height: 45%;
}
.banner ul li:first-child {
  width: 70%;
  height: 95%;
}
section {
  padding: 0 17%;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.boxes li {
  padding: 10px;
}
.news li img {
  height: 150px;
  width: 275px;
}
.lately li {
  width: 275px;
}
.lately li * {
  padding: 0 5px;
}
.late {
  display: flex;
  height: 100px;
  background-color: orange;
}
.late img {
  height: 60px;
  width: 60px;
  align-self: center;
}
.deets {
  display: flex;
  align-items: center;
}
.deets img {
  height: 20px;
  width: 20px;
}
.diff li {
  width: 380px;
}
.q {
  height: 300px;
  width: 100%;
  background: url("../nyt/images/coffee_rain.gif");
  display: flex;
}
.q p {
  color: white;
  align-self: flex-end;
}
.sub {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sub img {
  height: 75px;
  width: 75px;
  float: right;
}
.diff li ul {
  list-style: initial;
  padding-left: 25px;
}
