ul {
  list-style: none;
  padding-left: 0;
}
h2 {
  color: #de4421;
}
.info {
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
  background-color: black;
  font-size: 13px;
}
.info ul {
  display: flex;
}
.info ul li {
  padding: 0 2%;
  color: grey;
}
.links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.links ul {
  display: flex;
}
.links ul li {
  padding: 0 2%;
}
.links input {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  align-self: center;
}
.banner {
  height: 400px;
  width: 100%;
}
.banner ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
}
.banner ul li {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 25%;
  height: 45%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Teko";
  font-size: 75px;
  font-style: italic;
}
.banner ul li:first-child {
  width: 70%;
  height: 95%;
}
section {
  padding: 0 17%;
}

.pop {
  display: flex;
  flex-wrap: wrap;
}

.pop li {
  padding: 10px;
  width: 275px;
}
.boxes li img {
  height: 150px;
  width: 275px;
}
.under li {
  margin: -30px 0;
}
.lately li {
  width: 275px;
}
.lately li * {
  padding: 0 5px;
}
.late {
  display: flex;
  height: 100px;
  background-color: #f42;
}
.late img {
  height: 60px;
  width: 60px;
  align-self: center;
}
.deets {
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
}
.deets img {
  height: 20px;
  width: 20px;
}
.preview {
  background-color: rgba(255, 0, 100, 0.1);
}
.diff li {
  width: 380px;
}
.q {
  height: 300px;
  width: 100%;
  background-size: cover;
  display: flex;
}
.q p {
  color: white;
  align-self: flex-end;
  font-family: "Teko";
  font-style: italic;
  font-size: 45px;
}
.sub {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(255, 68, 34, 0.2);
  height: 80px;
}
.sub img {
  height: 100%;
  width: 75px;
  float: right;
}
.sub span * {
  margin: 0;
  color: #f42;
}
.bullet {
  list-style: initial;
  padding-left: 25px;
}
footer {
  margin: 0;
  padding-top: 25px;
}
.apps {
  background-color: #131313;
  color: white;
  height: 100px;
  width: 100%;
  padding: 15px 0;
  margin: 0;
}
.apps ul {
  display: flex;
  justify-content: center;
}
.apps ul li {
  padding: 0 5px;
}
.apps ul li img {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 5px;
}
.copyright {
  background: #000;
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
